$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #aaa;
$color-grey-dark: #777;
$color-grey-dark-2: #4A4A4A;

$color-white: #fff;

$color-green: #5cb85c;
$color-red: #E8693A;

$default-font-size: 1.6rem;