@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 55%;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  position: relative; }

label {
  color: #E8693A;
  font-size: 1.3rem;
  padding-top: .5rem; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.btn, .btn:link, .btn:visited {
  width: 18rem;
  text-decoration: none;
  padding: 2.2rem 3rem;
  display: inline-block;
  border-radius: 3px;
  transition: all .2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--green {
  background-color: #5cb85c;
  color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #80C0ED;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s ease-in; }

.btn-text:hover {
  color: #25A1FA;
  transform: scale(1.05); }

.btn-text:active {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.submit-link:link, .submit-link:visited {
  font-size: 1.6rem;
  color: white;
  display: inline-block;
  text-decoration: none; }

.money-message {
  color: #f7f7f7;
  background-color: #4A4A4A;
  padding: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: .1rem;
  border-radius: 3px; }

.money-message:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  transform: rotate(-20deg);
  right: 20px;
  z-index: -1;
  top: 1rem;
  border: 2.5rem solid #4A4A4A;
  border-color: #4A4A4A transparent transparent #4A4A4A; }

.amount-remaining {
  font-weight: 700; }

.countdown {
  color: #E8693A;
  font-weight: 700; }

.donor-num {
  font-weight: 700; }

.project {
  border: 1px solid #eee;
  border-radius: 3px; }
  §
.project__progress {
    width: 75%;
    height: 1.8rem;
    background-color: #E8693A; }
  .project__message {
    padding: 0 3rem;
    padding-top: 1.5rem;
    font-size: 1.4rem; }

.form {
  padding: 3rem; }
  .form ::placeholder {
    color: #aaa; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    padding: 1.1rem 1.8rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #eee;
    width: 100%; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1); }
    .form__input--medium {
      padding: 1.8rem 2.4rem;
      width: 40%;
      font-size: 2rem; }
    .form__input--large {
      height: 15rem; }
  .form__label {
    font-size: 1.3rem;
    padding-top: .5rem; }
    .form__label--blue {
      color: #80C0ED;
      font-size: 1.5rem; }
  .form__donate {
    display: inline-block;
    position: relative;
    margin-top: 3rem; }
    .form__donate input:not(:last-child) {
      margin-right: 4rem; }
    .form__donate:before {
      position: absolute;
      content: "$";
      color: grey;
      left: .8rem;
      font-size: 1.8rem;
      top: 1.8rem; }

.section-form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 5%);
  width: 30%;
  margin: 3rem; }
