.money-message {
    color: $color-grey-light-1;
    background-color: $color-grey-dark-2;
    padding: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 300;
    letter-spacing: .1rem;
    border-radius: 3px; // Give box modern shape

    animation: fadeFromTop .3s ease-out 1.5s;
    animation-fill-mode: backwards;

}

// Create speech bubble effect
.money-message:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    transform: rotate(-20deg);
    right: 20px;
    z-index: -1;
    top: 1rem;
    border: 2.5rem solid $color-grey-dark-2;
    border-color: $color-grey-dark-2 transparent transparent $color-grey-dark-2;
    
    animation: fadeIn .1s ease-out 1.8s;
    animation-fill-mode: backwards;
}


.project {
    border: 1px solid $color-grey-light-2;
    border-radius: 3px;
    animation: fadeIn 1s ease-out;

    &__progress {
        width: 75%;
        height: 1.8rem;
        background-color: $color-red;
        animation: fillFromLeft 1s ease-out .8s;
        animation-fill-mode: backwards;
    }

    &__message {
        padding: 0 3rem;
        padding-top: 1.5rem;
        font-size: 1.5rem;
    } 
}

// All elements inside form can be easily re-used in other parts of site or other applications
.form {

    padding: 3rem;

    ::placeholder {
        color: $color-grey-light-3;
    }

    &__group {

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    // Customise inputs by removing browser styling
    &__input {
        font-size: 1.4rem;
        font-family: inherit;
        color: $color-grey-dark-2;
        padding: 1.1rem 1.8rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: 1px solid $color-grey-light-2;
        width: 100%;

        &:focus {
            // Remove browser outline and add modern box shadow. User still able to navigate with tab key if needed
            outline: none;
            box-shadow: 0 .5rem 1.2rem rgba(black, .1);
        }

        // Created modfifiers for button depending on size. Can be re-used or scaled further if needed
        &--medium {
            padding: 1.8rem 2.8rem;
            width: 35%;
            font-size: 2rem;
        }

        &--large {
            height: 15rem;
        }
    }

    &__label {
        font-size: 1.3rem;
        padding-top: .5rem;
        color: $color-grey-light-3;

        // Modifier for different colour. Easy to create different coloured buttons in future
        &--blue {
            color: #80C0ED;
            font-size: 1.5rem;
        }
    }

    &__donate {
        display:inline-block;
        position: relative;
        margin-top: 3rem;

        & input:not(:last-child) {
            margin-right: 4rem;
        }

        &:before {
            position: absolute;
            content: "$";
            color: grey;
            left: .8rem;
            font-size: 1.8rem;
            top: 1.8rem;
        }
    }
}

.amount-remaining {
    font-weight: 700;
}

.countdown {
    color: $color-red;
    font-weight: 700;
    
    animation: grow .5s ease-out 1.5s;
    animation-fill-mode: backwards;
}

.donor-num {
    font-weight: 700;
}
